main {
  font-size: 13px;
}

nav {
  display: none;
}

header, footer {
  display: none;
}


/*

.codeblock {
    margin-left: 30px;
}

#opening-credit {
    text-align: right;
    font-style: italic;
}

figure {
    margin: 20px 0px 0px 0px;
}

figcaption {
    font-size: 75%;
    font-style: italic;
}
*/
/*
     FILE ARCHIVED ON 23:38:59 Apr 26, 2025 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:40:36 Jan 28, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.493
  exclusion.robots: 0.018
  exclusion.robots.policy: 0.008
  esindex: 0.009
  cdx.remote: 5.956
  LoadShardBlock: 100.131 (3)
  PetaboxLoader3.datanode: 146.082 (4)
  load_resource: 134.953
  PetaboxLoader3.resolve: 63.597
*/