main {
  font-size: 13px;
}

nav {
  display: none;
}

header, footer {
  display: none;
}


/*

.codeblock {
    margin-left: 30px;
}

#opening-credit {
    text-align: right;
    font-style: italic;
}

figure {
    margin: 20px 0px 0px 0px;
}

figcaption {
    font-size: 75%;
    font-style: italic;
}
*/
/*
     FILE ARCHIVED ON 03:18:38 Apr 08, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:42:28 Jan 28, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.386
  exclusion.robots: 0.013
  exclusion.robots.policy: 0.007
  esindex: 0.006
  cdx.remote: 25.515
  LoadShardBlock: 117.852 (3)
  PetaboxLoader3.datanode: 280.079 (4)
  load_resource: 384.834
  PetaboxLoader3.resolve: 101.011
*/